<img src="{{ asset('assets/images/mon_shop.jpg') }}" alt="logo du site" height="200" width="200">

<ul class="nav flex-column my-4" style="background: #408E91">
  <li class="nav-item mb-2">
    <a class="nav-link" href="{{ path('app_account') }}" style="color: #028391; background: #D2E9E9">Mes commandes...</a>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="{{ path('app_account_adresses') }}" style="color: #028391; background: #D2E9E9">Mes adresses...</a>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="{{ path('app_account_modify-pwd') }}" style="color: #028391; background: #D2E9E9">Modifier mon mot de passe...</a>
  </li>
  <li class="nav-item mb-2">
    <a class="nav-link" href="{{ path('app_logout') }}" style="color: #028391;background: #D2E9E9 ">Deconnexion...</a>
  </li>
</ul>
