{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5"> 
        <h1 style="color: #028391">Espace menbre...</h1>
       

    <div class="row">
        <div class="col-md-4">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div class="col-md-8">
            <h3 style="color: #028391"> Mes adresses... </h3>
             
            {{ form_start(adressForm) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(adressForm.firstname) }}</div>
                    <div class="col-md-6">{{ form_row(adressForm.lastname) }}</div>
                    <div class="col-md-6">{{ form_row(adressForm.adress) }}</div> 
                    <div class="col-md-6">{{ form_row(adressForm.postal) }}</div>  
                    <div class="col-md-6">{{ form_row(adressForm.city) }}</div>
                    <div class="col-md-6">{{ form_row(adressForm.country) }}</div> 
                    <div class="col-md-6">{{ form_row(adressForm.phone) }}</div>  
                </div>
            {{ form_end(adressForm) }}

            
        </div>
    </div>
        
       


    </div>

{% endblock %}