{% extends 'base.html.twig' %}
{% block body %}

<div class="container my-5"> 
    <h1 style="color: #028391">{{ category.name }}</h1>

    <p>Cette categorie contient {{ category.products|length }} produit(s).</p>
   
    <div class="row">
        {% for product in category.products %}            
            <div class="col-md-3 text-center">
                <a href="{{ path('app_product', { slug : product.slug } ) }}" class="text-decoration-none">
                    <h4 style="color: #627254">{{ product.name }}</h4>
                    <img src="/uploads/{{ product.illustration }}" class="img-fluid">
                </a>
                <span style="background: #F99417" class="d-block mt-3" >Ce produit est au prix de: {{ product.pricewt|price }}</span>
               
                
            </div>          
        {% endfor %}  
    </div>
    

   
  
</div>

{% endblock %}

