{% extends '@!EasyAdmin/Layout.html.twig' %}
{% block main %}

 <h2>Agir sur la commande</h2>
   {% if order.state != 1 %}
      <a style="background: #EBE4D1 ;color: #E55604 ;" href="{{current_url}}&state=3" class="{% if order.state == 3 %}d-none{% endif %} btn mx-3 my-2">En préparation</a>
      <a style="background: #E55604 ;color: #EBE4D1 ;" href="{{current_url}}&state=4" class="{% if order.state == 4 %}d-none{% endif %} btn mx-3">Expédiée</a>
      <a style="background: #219C90 ;color: #CD5C08 ;" href="{{current_url}}&state=5" class="{% if order.state == 5 %}d-none{% endif %} btn mx-3">Annulée</a>
   {% else %}
      <p>Vous ne pouvez pas agir sur une commande non payée</p>
   {% endif %}
 <hr>




<small><a target="_blank" href="{{ path('app_invoice_admin', { id_order : order.id}) }}" class="btn btn-light btn_sm">Voir/Imprimer la facture</a></small>
<h3>Commande n° {{ order.id }}</h3>
<hr>
<strong> Passée le: {{ order.createdAt|date('d/m/Y') }}</strong></br></br>

<span>Stripe session ID : {{ order.stripeSessionId }}</span>

<div class="row my-4">

    <div class="col-md-6">
    {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}</br>
       <strong>Adresse de livraison: </strong></br>
       {{ order.delivery|raw }}
    </div>
    <div class="col-md-6 mb-5 ">
        <strong>Transporteur: </strong></br>
        {{ order.carrierName|raw }}
    </div>

</div>

<strong>Contenu de la commande: </strong>
<hr>  
   

   <table class="table">
  <thead>
    <tr>
      <th scope="col">illustration</th>
      <th scope="col">Nom du produit</th>
      <th scope="col">Quantitée</th>
      <th scope="col">Prix unitaire H.T</th>
      <th scope="col">T.V.A</th>
      <th scope="col">Total T.T.C</th>
    </tr>
  </thead>
  <tbody>
  {% for product in order.orderDetails %}
    <tr> 
       <td>
          <img src="/uploads/{{ product.productIllustration }}" width="100px" alt=""/>
          {{ product.productIllustration }}
       </td>
       <td>{{ product.productName }}</td>
       <td>{{ product.productQuantity }}</td>
       <td>{{ product.productPrice|price }}</td>
       <td>{{ product.productTva }}%</td>
       {% set coeff = 1 + (product.productTva / 100) %}
       <td>{{ ((product.productPrice * coeff) * product.productQuantity)|price }}</td>
      
    </tr>
  {% endfor %}

  <tr>
     <td><h6 class="text-center" style="background: #ED7D31; color: #2B3499">Transporteur</h6></td>
     <td>{{ order.carrierName }}</td>
     <td>1</td>
     <td></td>
     <td></td>
     <td>{{ order.carrierPrice|price }}</td>
  </tr>
    
  </tbody>
</table>

<div class="text-right fs-5">
    <strong>Total H.T: </strong> {{ (order.totalWt - order.totalTva)|price }}</br>
    <strong>Total T.V.A: </strong> {{ order.totalTva|price }}</br>
    <strong>Total T.T.C: </strong> {{ order.totalWt|price }}
</div>

{% endblock %}