{% extends 'base.html.twig' %}

   

{% block body %}
<style>
    .wishlist-icon{background-color: #97BE5A; color: #891652; Padding: 9px; border-radius: 50%;}
    .wishlist-icon-active {background-color: #7743DB; color: #61A3BA}
</style>

<div class="container my-5"> 

    <div class="row g-2">
       
        <div class="col-md-8">
            <img src="/uploads/{{ product.illustration }}"  class="image-fluid" alt="{{ product.name}}">
              
        </div>

        <div class="col-md-4">
            <small style="color: #9F70FD"><i><a href="{{ path('app_category', { slug : product.category.slug }) }}">..{{ product.category.name }}</a>..>{{ product.name }}</i></small>
            <h1>{{ product.name }}</h1>
            <span style="background: #F99417" class="d-block my-3 text-center" >Ce produit est au prix de: {{ product.pricewt|price }}</span>
            {{ product.description|raw }}
            
            <div class="d-flex align-items-center mr-2 mt-4">               
                <a href="{{ path('app_cart_add', { id: product.id } ) }}" class="btn w-100" style="background: #A10035; color: #FBA834">Ajouter au panier</a>
                {% if app.user %}
                    {% if product in app.user.wishlists %}
                       <a class="wishlist-icon wishlist-icon-active" href="{{ path('app_account_wishlist_remove', { id : product.id } ) }}" style="margin-left: 10px"><i data-feather="heart"></i></a>
                    {% else %}
                       <a class="wishlist-icon" href="{{ path('app_account_wishlist_add', { id : product.id } ) }}" style="margin-left: 10px"><i data-feather="heart"></i></a>

                    {% endif %}
                {% else %}
                    <a data-bs-target="#collapseWidthExample" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseWidthExample" style="margin-left: 10px"><i data-feather="heart"></i></a>

                {% endif %}
            </div>

          
            <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class=" mt-2" style="width: 300px;">
                    Pour utiliser les avantages de la liste d'envies,
                    <a href="{{ path('app_login') }}"> connectez-vous a votre compte </a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a>.
                </div>
                </div>
            </div>


        </div>
    
    </div>

</div>

{% endblock %}