{% extends 'base.html.twig' %}
{% block body %}

<div class="container my-5"> 

    <div class="row g-2">
       
        <div class="col-md-8">
            <img src="/uploads/{{ product.illustration }}"  class="image-fluid" alt="{{ product.name}}">
              
        </div>

        <div class="col-md-4">
            <small style="color: #9F70FD"><i><a href="{{ path('app_category', { slug : product.category.slug }) }}">..{{ product.category.name }}</a>..>{{ product.name }}</i></small>
            <h1>{{ product.name }}</h1>
            <span style="background: #F99417" class="d-block my-3 text-center" >Ce produit est au prix de: {{ product.pricewt|price }}</span>
            {{ product.description|raw }}
            
            <div class="d-flex align-items-center mr-2 mt-4">               
                <a href="{{ path('app_cart_add', { id: product.id } ) }}" class="btn w-100" style="background: #A10035; color: #FBA834">Ajouter au panier</a>
                <a data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" style="margin-left: 10px"><i data-feather="heart"></i></a>
            </div>

          
            <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class=" mt-2" style="width: 300px;">
                    Pour utiliser les avantages de la liste d'envies,
                    <a href="{{ path('app_login') }}"> connectez-vous a votre compte </a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a>.
                </div>
                </div>
            </div>


        </div>
    
    </div>

</div>

{% endblock %}